@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background-color: #222;
}

.container {
  padding-top: 15px;
}

.now {
  font-weight: bold;
  font-size: 64px;
  text-align: center;
  margin: 20px 0;
  padding: 20px;
}

.monthLabel {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  margin: 0 auto;
}

.table {
  position: relative;
  border-collapse: separate;
}

.table .week-head .day-of-the-week {
  border-top: none;
  color: white;
  background-color: tomato;
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}

.table .week td {
  border: 1px solid #dee2e6;
  width: 98px;
  cursor: pointer;
  transition: .3s;
}

.table .week td.today {
  position: relative;
}

.table .week td.today::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  content: '(今日)';
}

.table .week td.birth {
  position: relative;
  background-color: yellow;
}

.table .week td.birth::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  content: '誕生日';
}

.table .week td:hover, .table .week td.today {
  background-color: #222;
  color: white;
}

.table .week td .wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.table .week td .wrapper form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  list-style: none;
  border-radius: 4px;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.9);
  z-index: 10;
}

.table .week td .wrapper form input {
  color: #222;
  margin: 5px 0;
  font-size: 24px;
  border-radius: 4px;
}

.table .week td .wrapper ul {
  padding: 10px;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.9);
  border-radius: 4px;
  color: #222;
  font-size: 30px;
  font-weight: bold;
}

.table .week td .wrapper ul li {
  color: #222;
  margin: 5px 0;
  font-size: 24px;
  border-radius: 4px;
}

.table .week td .wrapper.close {
  display: none;
}

#thumbnails {
  width: 690px;
  margin: 40px auto 0;
  list-style: none;
  padding: 0;
  user-select: none;
}

#thumbnails li {
  text-align: center;
  width: 105px;
  background-color: tomato;
  color: white;
  font-weight: bold;
  margin: 5px;
  padding: 20px 0;
  transition: .3s;
  cursor: pointer;
}

#thumbnails li.selected {
  background-color: gray;
  color: #222;
}

#thumbnails li:hover {
  background-color: gray;
  color: #222;
}

#prev, #next, #selectBtn, .closeBtn, .check {
  background-color: #222;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  transition: .3s;
  user-select: none;
}

#prev:hover, #next:hover, #selectBtn:hover, .closeBtn:hover, .check:hover {
  background-color: gray;
  color: #222;
}

.closeBtn, .check {
  margin: 5px 0;
}
